.search {
  display: flex;
  justify-content: flex-end;
  input {
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 0 5px 10px;
  }
  button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 20px;
    border: none;
    background: greenyellow;
  }
}
